.MuiLoadingButton-root {
  font-size: 12px !important;
}
.MuiDialog-paper {
  background: transparent !important;
  box-shadow: none !important;
}
* {
  outline: none !important;
}
.MuiButton-text {
  padding: 0px !important;
}
button {
  border: none;
  background: transparent;
  padding: 0;
}

.popup-filter {
  .MuiBackdrop-root {
    backdrop-filter: blur(20px);
  }
}


body, html{
  // min-height: -webkit-fill-available;

}
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#root{
  display: flex;
  flex-direction: column;
  flex:1
}


input{
  caret-color : white!important;
}

.MuiCircularProgress-root{
  color: white;
  zoom: 1.6;
}