.MuiLoadingButton-root {
  font-size: 12px !important;
}
.MuiDialog-paper {
  box-shadow: none !important;
}
* {
  outline: none !important;
}
.MuiButton-text {
  padding: 0px !important;
}
button {
  border: none;
  background: transparent;
  padding: 0;
}

.popup-filter {
  .MuiBackdrop-root {
    backdrop-filter: blur(20px);
  }
}


body, html{
  ::-webkit-scrollbar {
    display: none;
  }
}
body{
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
}
#root{
  display: flex;
  flex-direction: column;
  flex:1
}

.MuiCircularProgress-root{
  color: white;
  zoom: 1.6;
}

